body {
    text-align: center;
}

form {
    box-shadow: 2px 2px 10px rgb(201, 200, 200);
    padding: 10px;
    margin: 50% 5%;
}
ion-input {
    font-size: 12px;
}

.errorMsg {
    font-size: 10px;
}